body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: #f4f4f9;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #0074D9;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffcc00;
}

.content {
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0074D9;
}

.section {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.section:last-child {
    border-bottom: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.footer-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-links a:hover {
    color: #0074D9;
    transform: scale(1.2);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    background-color: #ffffff;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.github-hover{
    text-decoration: none;
    color: #0074D9;
}

.github-hover:hover{
    color: #ffcc00;
    transform:0.5s;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    header h2 {
        flex-direction: column;
        font-size: 1.2rem;
    }

    .navbar a {
        margin: 10px;
    }
}